*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#020817;
color:white;
overflow-x:hidden;
}

.background{
position:absolute;
width:100%;
height:100%;
background:
radial-gradient(circle at top,#0ea5e9,#020817 60%);
z-index:-1;
}

#loginPage{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{

width:450px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.1);

padding:40px;

border-radius:25px;

box-shadow:
0 0 40px rgba(14,165,233,.4);
}

.login-box h1{
text-align:center;
margin-bottom:10px;
color:#38bdf8;
}

.login-box p{
text-align:center;
margin-bottom:30px;
color:#cbd5e1;
}

.login-box input{

width:100%;

padding:15px;

margin-bottom:15px;

background:#0f172a;

border:none;

border-radius:10px;

color:white;
}

.login-box button{

width:100%;

padding:15px;

background:#0ea5e9;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

cursor:pointer;
}

.login-box button:hover{
transform:scale(1.03);
}

#dashboard{
display:none;
}

.sidebar{

position:fixed;

width:250px;

height:100vh;

background:#081222;

padding:30px;
}

.sidebar h2{
margin-bottom:40px;
color:#38bdf8;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px 0;
cursor:pointer;
}

.sidebar button{

margin-top:40px;

width:100%;

padding:12px;

background:#ef4444;

border:none;

border-radius:10px;

color:white;
}

.main{
margin-left:250px;
padding:30px;
}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;
}

.card{

background:#0f172a;

padding:25px;

border-radius:20px;

text-align:center;

border:1px solid #1e293b;
}

.card h2{
font-size:40px;
color:#38bdf8;
}

.titulo{
margin-top:40px;
margin-bottom:20px;
}

.pcs{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;
}

.pc{

background:#0f172a;

padding:20px;

border-radius:15px;
}

.barra{

height:12px;

background:#1e293b;

border-radius:20px;

margin:15px 0;
}

.verde{
height:100%;
background:#22c55e;
border-radius:20px;
}

.amarillo{
height:100%;
background:#facc15;
border-radius:20px;
}

.rojo{
height:100%;
background:#ef4444;
border-radius:20px;
}

.alerta{

background:#991b1b;

padding:15px;

margin-top:15px;

border-radius:10px;
}
